@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
}

@layer components {
  .bg-on-dark-full {
    @apply bg-neutral dark:bg-base-100 dark:text-neutral;
  }
  
  .input-on-dark {
    @apply bg-neutral dark:bg-base-200 dark:text-neutral dark:border-none dark:focus:outline-accent dark:focus:outline; 
  }
  .bg-on-dark-2 {
    @apply bg-white dark:bg-base-100 dark:text-neutral;
  }

  .bg-on-dark-full-slate {
    @apply bg-neutral dark:bg-slate-900 dark:text-neutral;
  }

  .hover-on-dark {
    @apply hover:bg-base-100/10 dark:hover:bg-base-200/50;
  }
  .text-on-dark {
    @apply dark:text-neutral text-base-300;
  }

  .border-b-on-dark {
    @apply border-b dark:border-b dark:border-base-200;
  }
}

